{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>kiTaN.com (ContactUs)</title>
</head>

<body>

    <div class="p-2 mb-1 bg-success text-white"></div>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logor.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""
                loading="lazy">
            MechTooL
            <img src="{% static 'images/tool1.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""
                loading="lazy">
        </a>

    </nav>
    </div>





    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><button type="button" class="btn btn-primary">Home</button>
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><button type="button" class="btn btn-primary">About
                            Us</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts"><button type="button" class="btn btn-success">Contact
                            Us</button></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><button type="button"
                            class="btn btn-danger">Disabled</button></a>
                </li>
            </ul>

            <div class="my-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#LoginModal">Login
                </button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#RegisterModal">
                    Register</button>

            </div>
            </li>


        </div>
    </nav>


    {% for message in messages %}

    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
        <strong>Message: </strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}


    <!-- LoginModal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Login to MechTooL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <body class="text-center">
                        <form action="loginuser" class="form-signin" method="post">
                            {% csrf_token %}
                            <img class="mb-4" src="{% static 'images/powerss.gif' %}" alt="" width="100" height="100">
                            <h5 class="h3 mb-3 font-weight-normal">Please Login</h5>
                            <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
                                data-validate="Type username">
                                <input required id="first-name" class="form-control" type="text" name="username"
                                    placeholder="username">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20"
                                data-validate="Type password">
                                <input class="form-control" type="password" required name="password"
                                    placeholder="password">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                            <p class="mt-5 mb-3 text-muted">© 2020-2020</p>
                            <h5>
                                <p style="text-align:center">New User Please! Register </p>

                            </h5>
                        </form>
                    </body>

                </div>

            </div>
        </div>
    </div>


    <!-- RegisterModal -->
    <div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="RegisterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="RegisterModalLabel">Get a MechTooL Account___</h5>
                    <img src="{% static 'images/logor.jpg' %}" width="30" height="30" class="d-inline-block align-top"
                        alt="" loading="lazy">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>




                <div class="modal-body">

                    <body>

                        <div class="signup-content">
                            <form action="register" method="POST" id="signup-form" class="signup-form">
                                {% csrf_token %}
                                <h2 class="form-title">Create account</h2>
                                <div class="form-group">
                                    <input type="text" required class="form-input" name="first_name" id="name"
                                        placeholder="First Name" />
                                </div>
                                <div class="form-group">
                                    <input type="username" required class="form-input" name="username" id="username"
                                        placeholder="Username" />
                                </div>
                                <div class="form-group">
                                    <input type="email" required class="form-input" name="email" id="email"
                                        placeholder="Email" />
                                </div>

                                <!-- JS -->
                                <script src="{% static 'vendor1/jquery/jquery.min.js' %}"></script>
                                <script src="{% static 'js2/main.js' %}"></script>

                                <div class="form-group">
                                    <input type="password" class="form-input" name="password" id="password"
                                        placeholder="Password" />
                                    <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" required class="form-input" name="re_password"
                                        id="re_password" placeholder="Repeat your password" />
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" required name="agree-term" id="agree-term"
                                        class="agree-term" />
                                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I
                                        agree all
                                        statements in <a href="#" class="term-service">Terms of
                                            service</a></label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                                </div>
                            </form>
                            <p class="loginhere">
                                Have already an account ? <a href="#" data-toggle="modal"
                                    data-target="#RegisterModal">Login
                                </a>
                            </p>
                        </div>

                    </body>
                </div>
            </div>


        </div>

    </div><br>




    <div class="contact1-pic js-tilt" data-tilt>
        <img class="img-fluid" width="700" height="250" src="{% static 'images/contactusss.gif' %}" alt="IMG">
    </div>


    <div class="container my-3">
        <div class="contact1">
            <div class="container-contact1">
                <div class="contact1-pic js-tilt" data-tilt>
                    <img class="img-fluid" width="300" height="300" src="{% static 'images/contactuss.gif' %}"
                        alt="IMG">
                </div>
                <div class="container my-4 ">
                    <form method="POST" action="/contacts">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlInput1">
                                <h4>Name</h4>
                            </label>
                            <input type="name" required class="form-control" id="exampleFormControlInput1" name='name'
                                placeholder="Yourname">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">
                                <h5>Email address</h5>
                            </label>
                            <input type="email" required class="form-control" id="exampleFormControlInput1" name='email'
                                placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">
                                <h5>Select Type</h5>
                            </label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Navigational</option>
                                <option>Informational</option>

                                <option>other</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">
                                <h5>Phone Number</h5>
                            </label>
                            <input type="phone" class="form-control" id="exampleFormControlInput1" name='phone'
                                placeholder="89997######">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">
                                <h5>Type ur Query?</h5>
                            </label>
                            <textarea required class="form-control" id="exampleFormControlTextarea1" name='content'
                                cols="30" rows="5"></textarea>
                        </div>
                        <button class="btn btn-primary">submit</button><br>
                    </form>
                </div>
            </div>
        </div>
    </div><br>



    <div class="row d-flex justify-content-center align-items-center">


        <!-- Get in touch -->
        <div class="col-lg-6">

            <div class="contact_title">
                <h4>GET IN TOUCH WITH MechTooL</h4>
            </div>
            <img src="{% static 'images/tool1.jpg' %}" width="50" height="50" class="d-inline-block align-top" alt=""
                loading="lazy"><br>

            <br>
            <div class="contact1-pic js-tilt" data-tilt>
                <img class="img-fluid" width="400" height="400" src="{% static 'images/contactuus.gif' %}" alt="IMG">
            </div>

            <br>
            <div>
                <span class="badge badge-pill badge-dark">ADDRESS</span>
            </div>
            <div>Raipur [chhattisgarh]</div><br>



            <div><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
                    <p style="text-align:center"><img src="{% static 'images/mail.gif' %}" width="60" height="60"
                            class="d-inline-block align-top" alt="" loading="lazy"></p>
                </a></div>


            <div><a href="https://www.facebook.com/ankit.jha.98434" target="_blank">
                    <p style="text-align:center"><img src="{% static 'images/facebook1.gif' %}" width="80" height="80"
                            class="d-inline-block align-top" alt="" loading="lazy"></p>
                </a></div>


            <div><a href="https://www.linkedin.com/in/ankit-jha-b97730154/" target="_blank">
                    <p style="text-align:center"><img src="{% static 'images/link.gif' %}" width="60" height="60"
                            class="d-inline-block align-top" alt="" loading="lazy"></p>
                </a></div>

            <div><a href="https://github.com/ankit0003jha" target="_blank">
                    <p style="text-align:center"><img src="{% static 'images/github.gif' %}" width="60" height="60"
                            class="d-inline-block align-top" alt="" loading="lazy"></p>
                </a></div>




        </div>
    </div>









    <div class="card-body bg-transparent text-dark"></div>
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">To grap more knowlege on Tools</h5>
            <p class="card-text">Register Today! Free of cost</p>
            <a href=""></a><button class="btn btn-danger" data-toggle="modal" data-target="#RegisterModal">
                Register</button>


            <p></p><a href="#">
                <p style="text-align:center">Back to top</p>
            </a>
            <a href="/">
                <p style="text-align:center">Back to Home</p>
            </a>

            </p>
        </div>
        <div class="card-footer text-muted">
            kiTaN.com
        </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>