{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>kiTaN.com (Login)</title>
</head>

<body>

    <div class="p-2 mb-1 bg-success text-white"></div>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logor.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""
                loading="lazy">
            MechTooL
            <img src="{% static 'images/tool1.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""
                loading="lazy">

        </a>
        {% if user.is_authenticated %}
        <h3>
            <p style="text-align:center" class="text-outline-dark">Hello, {{ user.first_name }}</p>
        </h3>
        {% endif %}
        <form method="get" action="/search" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
                id="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    </div>





    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home"><button type="button" class="btn btn-success">Home</button>
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/handtool"><button type="button" class="btn btn-primary">Hand
                            Tool</button></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/machtool"><button type="button" class="btn btn-primary">Machine
                            Tool</button></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/autotool"><button type="button" class="btn btn-primary">Automotive
                            Tool</button></a>
                </li>



            </ul>

            <div class="my-2">

                <a class="nav-link" href="/logoutuser"><button class="btn btn-danger">
                        Logout</button></a>

            </div>



        </div>
    </nav><br>

    {% if user.is_authenticated %}
    <h1>
        <p style="text-align:center">Welcome to MechTooL {{ user.first_name }}</p>
    </h1>
    {% endif %}
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="200" height="200"
                    src="{% static 'images/handtoolss.gif' %}">

                <h2>Hand Tool</h2>
                <p>A hand tool is any tool that is powered by hand rather than a motor. Categories of hand tools
                    include wrenches, pliers, cutters, files, striking tools, struck or hammered tools,
                    screwdrivers,
                    vises, clamps, snips, saws, drills, knives, chisel and saw.</p>
                <p><a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Hand_tool" role="button">View
                        details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="200" height="200"
                    src="{% static 'images/machiness.gif' %}">


                <h2>Machine Tool</h2>
                <p>A machine tool is a machine for handling or machining metal or other rigid materials, usually by
                    cutting, boring, grinding, shearing, or other forms of deformation. Machine tools employ some
                    sort
                    of tool that does the cutting or shaping.</p>
                <p><a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Machine_tool" role="button">View
                        details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="200" height="200"
                    src="{% static 'images/autoss.gif' %}">
                <h2>Automotive Tool</h2>
                <p>They include things like screwdrivers, hammers, pliers, wrenches, and socket sets. Other standard
                    tools that can be used to repair vehicles include a jack, jack stands, funnel, multimeters,
                    fuses,
                    torque wrenches, breaker bars, socket adaptors, clamps, and more.</p>
                <p><a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Category:Automotive_tools"
                        role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>





    <div class="card-body bg-transparent text-dark"></div>
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card bg-dark text-white">
            <img src="{% static 'images/dark.jpg' %}" class="card-img-fluid" alt="...">

            <div class="card-img-overlay">
                <div class="container">

                    <footer class="blog-footer">
                        <p>
                        <p style="text-align:center"> This Website is built </p>

                        <p style="text-align:center"> by</p> <a href="https://www.linkedin.com/in/ankit-jha-b97730154/"
                            target="_blank">
                            <p style="text-align:center">Ankit jha</p>
                        </a></p>

                    </footer>
                </div>

            </div>
        </div>









    </div>
    </nav>
    <div class="card text-center">
        <div class="card-footer text-muted">
            kiTaN.com<br>
        </div>

    </div>
    </div>
            <div class="bg = dark">
                <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><img
                        src="{% static 'images/mail.gif' %}" width="40" height="40" class="rounded float-right"
                        alt="..."></a>
                <a href="https://www.facebook.com/ankit.jha.98434" target="_blank"><img
                        src="{% static 'images/facebook1.gif' %}" width="40" height="40" class="rounded float-right"
                        alt="..."></a>
                <a href="https://www.linkedin.com/in/ankit-jha-b97730154/" target="_blank"><img
                        src="{% static 'images/link.gif' %}" width="40" height="40" class="rounded float-right"
                        alt="..."></a>
                <a href="https://github.com/ankit0003jha" target="_blank"><img src="{% static 'images/github.gif' %}"
                        width="40" height="40" class="rounded float-right" alt="..."></a>
                <a href="https://twitter.com/AnkitJh71366591" target="_blank"><img
                        src="{% static 'images/twitter.gif' %}" width="40" height="40" class="rounded float-right"
                        alt="..."></a>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>