{% load static %}
{% static 'images' as baseUrl %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>kiTaN.com (handtool)</title>
</head>

<body>
    <div class="p-2 mb-1 bg-success text-white"></div>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logor.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""
                loading="lazy">
            MechTooL
            <img src="{% static 'images/tool1.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""
                loading="lazy">
        </a>
        {% if user.is_authenticated %}
        <h3>
            <p style="text-align:center" class="text-outline-dark">Hello, {{ user.first_name }}</p>
        </h3>
        {% endif %}
        <form method="get" action="/search" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
                id="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    </div>




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item ">
                    <a class="nav-link" href="/home"><button type="button" class="btn btn-danger">Back</button></a>
                </li>

            </ul>

            <div class="my-2">

                <a class="nav-link" href="/"><button class="btn btn-danger">
                        Logout</button></a>



            </div>



        </div>
    </nav>

    {% for message in messages %}

    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
        <strong>Message: </strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    {% endfor %}



    <h1>
        <p style="text-align:center">Searh Result:</p>
    </h1>


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% if ts|length < 1 and ht|length < 1 and pt|length < 1 and mt|length < 1 and la|length < 1 and at|length < 1 %}
                <p>
                <h4> No Search Result : </h4>
                </p> <br>

                <ul>
                    Your Search Query :
                    <b> " {{ query }} " </b> did not match any documents. <br>
                    Suggestions:
                    <ul>
                        <li>Try Different Keywords</li>
                        <li>Make sure that all words are spelled correctly.</li>
                        <li>Try more general keywords.</li>
                        <li>Try fewer keywords.</li>
                    </ul>
                    {% endif %}
                </ul>
                {% for t in ts %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{baseUrl}}/{{t.img}}">
                        <div class="card-body">
                            <h5>
                                <p style="text-align:center">{{t.name}}</p>
                            </h5>
                            <p class="card-text">{{t.desc}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn">
                                    <a class="btn btn-success" href="{{t.Details}}" role="button">Detail</a>
                                    <a class="btn btn-danger" href="{{t.Buy}}" role="button">Buy</a>
                                    <a class="btn btn-dark" href="{{t.Types}}" role="button">Types</a>
                                </div>
                                <a class="btn btn-primary" href="{{t.Video}}" role="button">video</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for h in ht %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{baseUrl}}/{{h.img}}">
                        <div class="card-body">
                            <h5>
                                <p style="text-align:center">{{h.name}}</p>
                            </h5>
                            <p class="card-text">{{h.desc}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn">
                                    <a class="btn btn-success" href="{{h.Details}}" target="_blank"
                                        role="button">Detail</a>
                                    <a class="btn btn-danger" href="{{h.Buy}}" target="_blank" role="button">Buy</a>

                                </div>
                                <a class="btn btn-primary" href="{{h.Video}}" target="_blank" role="button">video</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for p in pt %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{baseUrl}}/{{p.img}}">
                        <div class="card-body">
                            <h5>
                                <p style="text-align:center">{{p.name}}</p>
                            </h5>
                            <p class="card-text">{{p.desc}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn">
                                    <a class="btn btn-success" href="{{p.Details}}" target="_blank"
                                        role="button">Detail</a>
                                    <a class="btn btn-danger" href="{{p.Buy}}" target="_blank" role="button">Buy</a>

                                </div>
                                <a class="btn btn-primary" href="{{p.Video}}" target="_blank" role="button">video</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for m in mt %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{baseUrl}}/{{m.img}}">
                        <div class="card-body">
                            <h5>
                                <p style="text-align:center">{{m.name}}</p>
                            </h5>
                            <p class="card-text">{{m.desc}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn">
                                    <a class="btn btn-success" href="{{m.Details}}" target="_blank"
                                        role="button">Detail</a>
                                    <a class="btn btn-danger" href="{{m.Buy}}" target="_blank" role="button">Buy</a>

                                </div>
                                <a class="btn btn-primary" href="{{m.Video}}" target="_blank" role="button">video</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for a in as %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{baseUrl}}/{{a.img}}">
                        <div class="card-body">
                            <h5>
                                <p style="text-align:center">{{a.name}}</p>
                            </h5>
                            <p class="card-text">{{a.desc}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn">
                                    <a class="btn btn-success" href="{{a.Details}}" target="_blank"
                                        role="button">Detail</a>
                                    <a class="btn btn-danger" href="{{a.Buy}}" target="_blank" role="button">Buy</a>
                                    <a class="btn btn-dark" href="{{a.Types}}" role="button">Types</a>
                                </div>
                                <a class="btn btn-primary" href="{{a.Video}}" target="_blank" role="button">video</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for l in la %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{baseUrl}}/{{l.img}}">
                        <div class="card-body">
                            <h5>
                                <p style="text-align:center">{{l.name}}</p>
                            </h5>
                            <p class="card-text">{{l.desc}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn">
                                    <a class="btn btn-success" href="{{l.Details}}" target="_blank"
                                        role="button">Detail</a>
                                    <a class="btn btn-danger" href="{{l.Buy}}" target="_blank" role="button">Buy</a>
                                    <a class="btn btn-dark" href="{{l.Types}}" role="button">Types</a>
                                </div>
                                <a class="btn btn-primary" href="{{l.Video}}" target="_blank" role="button">video</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>